.section-title{
	text-align: center;
	text-transform: uppercase;
	color:$black;

	&__date{
		color:$grey;
		margin: 0;
		padding: 10px 0 0 0;
	}

	&__title{
		margin:0;
		padding: 10px 0 0 0;
		line-height:1.1;
		font-weight:400;

	}

	&__subtitle{
		margin:0;
		padding: 0px 0 0 0;
		color:$grey;
		font-weight:400;
	}

	@include media-query(palm){
	
		&__title, &__subtitle{
			font-size:24px;

		}

	}
}