/*
* #Colors
*/

$black: #000;
$white: #fff;


$blue: #012a4f;
$blue-alt: #001f3a;

$dark-middle: #012a4f;

$blue-dark: #011223;


$grey: #838383;

$jade: #5c8a88;

$gold: #a38459;

/*

Mørkeblå Fb #012a4f
Mørkeblå Nyheder #011223
Guld Boks Åbningstider #a38459
Tekst Brød #838383
Tekst overskrift #000000
Knap Nyhedsbrev #5c8a88

*/