@mixin animate($duration) {	
	-webkit-transition: all $duration ease-in-out;
	-moz-transition: all $duration ease-in-out;
	-ms-transition: all $duration ease-in-out;
	-o-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
}

@mixin cross-browser($property, $modifyer){
	 -webkit-#{$property} : $modifyer;
    -moz-#{$property} : $modifyer;
    -o-#{$property} : $modifyer;
    #{$property} : $modifyer;
}	


